.header{
    display: flex;
    height:.44rem;
    line-height: .44rem;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
}
.h_return{
	flex: 1;
    display: block;
    height: 100%;
}
.h_return img{
	margin: .14rem 0 0 .2rem;
	display: block;
	width: .12rem;
    height: .20rem;
}
.header h1{
	flex: 8;
    text-align: center;
    font-size: .18rem;
    line-height: .44rem;
    color: #333;
    font-weight: 400;
}
.h_sick span{
	flex: 1;
	font-size: .2rem;
    display: block;
    height: 100%;
    margin-right: .14rem;
}
.center{
	padding-top: .28rem;
}
.c_phone{
	display: flex;
	border-bottom: 1px solid #e0e0e0;
	margin: 0 .2rem;
	padding: 0 .08rem;
	align-items: center;
	position: relative;
}
.c_phone span{
	display: block;
}
.c_phone span img{
	width: .22rem;
	height: .24rem;
	display: block;

}
.c_phone input{
	display: block;
	border: none;
	height: .46rem;
	margin-left: .12rem;
	outline: none;
	font-size: .14rem;
	width: 100%;
}
.CM_invisible{
	position: absolute;
    right: .12rem;
    width: .2rem;
    height: .14rem;
    display: inline-block;
    background: url(../img/log/invisible.png) no-repeat 50%;
    background-size: .2rem .14rem;
}
.CV_verification{
	position: absolute;
    right: .12rem;
    display: inline-block;
}
.c_phone .CV_verification img{
	 width: .61rem;
    height: .31rem;
    display: block;
}
.C_log,.C_reg{
	margin: .2rem;
	font-size: .14rem;
}
.C_log input{
	display: block;
	height: .4rem;
	width: 3.34rem;
	background-color: #000000;
	font-size: .14rem;
	color: white;
	outline: none;
	border: none;
}
.C_reg a:nth-child(1){
	color: #d72245;
}
.C_reg a:nth-child(2){
	float: right;
	color: #999;
}
/*其他*/
.C_other{
	width: 3.35rem;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: .66667rem;
    left: 6%;
}
.C_other span{
	position: absolute;
    top: -0.12rem;
    left: 84%;
    margin-left: -1.6rem;
    width: .98rem;
    color: #999;
    font-size: .12rem;
    background: #fff;
}
.CO_tu{
	display: flex;
	margin: 12%;
	
}
.CO_tu a{
    margin: .35rem .12rem 0;
    width: .4rem;
    height: .4rem;
    display: inline-block;
}
.CO_tu a img{
    width: .4rem;
    height: .4rem;
    display:block;
}
